@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    height: auto;
  }

  #main-body {
    width: 800px;
    height: 600px;
    transform: scale(1.25);
    transform-origin: top left;
    border: 1px solid white;
  }