---
import { getCollection } from "astro:content";
import Layout from "../layout/Layout.astro";
import BlogItem from "../components/BlogItem";

const posts = await getCollection('posts');

console.log(posts);

---

<Layout title="My Blogs">
    <div class="flex justify-center">
        <div class="w-3/4">
            <div class="py-4">
                {posts.map((post) => (
                    <BlogItem 
                        title={post.data.title}
                        description={post.data.description}
                        url={`/blog/${post.slug}`} 
                    />
                ))}
            </div>
        </div>
    </div>
</Layout>