---
import Layout from "../layout/Layout.astro";
import MainArea from "../components/MainArea.astro";
---

<Layout>
    <div class="flex justify-center">
            <h1>Blog</h1>
            <p>Coming soon...</p>
    </div>
</Layout>