---
import Layout from "../layout/Layout.astro";
---


<Layout title="My Favorite Things">
    <div class="flex justify-center">
        <div class="w-1/2">
            <div class="py-4">
                <h2 class="text-2xl font-bold text-blue">Favorite Things</h2>
                <ul class="list-disc list-inside">
                    <li>Favorite Color: Blue</li>
                    <li>Favorite Food: Tacos</li>
                    <li>Favorite Movie: Deadpool & Wolverine</li>
                    <li>Favorite Book: Fahrenheit 451</li>
                </ul>
            </div>
        </div>
        <div class="w-1/2">
            <div class="py-4">
                <h2 class="text-2xl font-bold text-blue">Favorite Places</h2>
                <ul class="list-disc list-inside">
                    <li>Favorite City: Barcelona</li>
                    <li>Favorite Country: Spain</li>
                    <li>Favorite Golf Course: Melrose Park Golf Course</li>
                    <li>Favorite Park: Central Park</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex justify-center">
        <div class="w-1/2">
            <div class="py-4">
                <h2 class="text-2xl font-bold text-blue">Favorite TV Shows</h2>
                <ul class="list-disc list-inside">
                    <li>Stargate SG1</li>
                    <li>Battlestar Galactica</li>
                    <li>Silo</li>
                    <li>For All Mankind</li>
                </ul>
            </div>
        </div>
        <div class="w-1/2">
            <div class="py-4">
                <h2 class="text-2xl font-bold text-blue">Favorite Animate TV Shows</h2>
                <ul class="list-disc list-inside">
                    <li>The Dragon Prince</li>
                    <li>Rick and Morty</li>
                    <li>Invincible</li>
                    <li>Batman The Animated Series</li>
                </ul>
            </div>
    </div>
</Layout>