---
import MainLayout from "./MainLayout.astro";
import Header from "../components/Header";
---

<MainLayout title="Codedex Hackathon 2024">
    <Header title="Codedex Hackathon 2024" />
    <main>
        <h1>Welcome to the Codedex Hackathon 2024</h1>
        <p>
            This is a hackathon for the ages. We are going to build some amazing things.
        </p>
    </main>
</MainLayout>